<nav>
  <div>
    <a href="/">Homepage</a>
    <a href="???">Favorites</a>
    <a href="???">Quiz</a>
    <a href="???">Create Characters</a>
  </div>
  <div>
    <!-- <% if(user) { %>
    <span><%= user.username %></span>
    <a href="/auth/logout">Log Out</a>
    <% } else { %>
    <a href="/auth/login">Log In</a>
    <a href="/auth/new">Create Account</a>
    <% } %> -->
  </div>
</nav>
