<h1>This is main index ejs</h1>
<h1>Login</h1>

<form method="POST" method="????">
  <label for="user">Username:</label>
  <input type="text" name="username" id="user" />
  <br /><br />
  <label for="pass">Password:</label>
  <input type="password" name="password" id="pass" />
  <br />
  <input type="submit" value="Log in" />
</form>
<br /><br />
<br /><br />
<h1>Create Profile</h1>
<form method="POST" action="????">
  <label for="username-input">Username:</label>
  <input type="text" name="username" id="username-input" />
  <br /><br />
  <label for="password-input">Password:</label>
  <input type="password" name="password" id="password-input" />
  <br />
  <input type="submit" value="Sign Up" />
</form>
