
<h1 id="welcome"><img src="../images/sheild.png"> &emsp;Casterly Rock Official Municipal Website &emsp;<img src="../images/sheild.png"></h1>
<h2 id="welcome-2">The only true throne of Westeros</h2>

<div id="intro-image">

  <div class="login-container">

    <h1>Login or Create Account</h1>
    <form method="POST" action="/">
      <label for="user">Username:</label>
      <input type="text" name="username" id="user" class="input-area" />

  <br />
  <br />

      <label for="pass">Password:</label>
      <input type="password" name="password" id="pass" class="input-area"/>
      <input type="submit" value="Log in" id="push-button" />
      
    </form>
 
  </div>

</div>