<h1>Index.ejs: Welcome to Erin's GOT API</h1>
<div class="auth"></div>
  <h1>Login</h1>
    <form method="POST" method="????">
     <label for="user">Username:</label>
     <input type="text" name="username" id="user" />
     <br /><br />
     <label for="pass">Password:</label>
     <input type="password" name="password" id="pass" />
     <input type="submit" value="Log in" />
    </form> 
</div>
<br><br>
<div class="auth">
<h1>Create Profile</h1>
<form method="POST" action="/">
  <label for="username-input">Username:</label>
  <input type="text" name="username" id="username-input" />
  <br /><br />
  <label for="password-input">Password:</label>
  <input type="password" name="password" id="password-input" />
  <input type="submit" value="Sign Up" />
</form>
</div>
