body {
  margin: 30;
  background-color: beige;
  font-family: "Grenze Gotisch", cursive;
}

nav {
  background-color: rgb(189, 227, 191);
  padding: 10px;
  font-family: "Grenze Gotisch", cursive;
  font-size: 30px;
  text-align: center;
  margin: auto;
  width: 100vw;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 100px;
}

nav a:hover {
  color: rgb(71, 167, 79);
}

/* FONT NAMES:font-family: 'Fascinate', cursive; font-family: 'Grenze
    Gotisch', cursive; font-family: 'Tangerine', cursive; */
