body {
  margin: 30;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(24, 94, 27);
  padding: 10px;
  font-family: "Tangerine", cursive;
  font-size: 50px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

nav a:hover {
  color: rgb(71, 167, 79);
}
/* FONT NAMES:font-family: 'Fascinate', cursive; font-family: 'Grenze
    Gotisch', cursive; font-family: 'Tangerine', cursive; */
