<h1>Westeros Public Records</h1>

<form method="POST" action="/search">
  <label for="searched_name">Search by Name:</label>
  <input type="text" name="searched_name" id="search" />
  <br />
  <input type="submit" value="submit" />
</form>
