<h1 id="searchpg-header"><img src="../images/sheild.png"> &emsp;Westeros Public Records&emsp;<img src="../images/sheild.png"></h1>

<div id="search-form">
  <form method="POST" action="/search">
    <label for="searched_name">Search by Name:</label>
    <input type="text" name="searched_name" id="search" class="input-area" />
    <br />
    <input type="submit" value="submit" class="push-button" />
  </form>
</div>

<div id="poster">
  <img src="../images/poster.jpeg">
</div>