<h1>Results:</h1>

    <% characters.forEach(character=> { %>
        <div>
                <a href="https://www.anapioficeandfire.com/api/characters?name=<%= character.name %>"><%= character.name %></a>
        </div>
    <% }) %>